body {
    background-color: black;
    font-size: 22px;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

nav {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color:rgba(00, 00, 00, .8);
    top: 0;
    text-decoration: underline;
    align-items: center;
}

#logo {
    height: 50px;
    padding: 10px;
    float: left;
}

nav li {
    text-decoration: underline;
    list-style: none;
    color:seashell;
    display: block;
    padding: 0 10px;
    float: right;
}
header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*3vq2v9*_ga*NDI1MDY2Nzc0LjE2NTcwNDk4MDc.*_ga_3LRZM6TM9L*MTY3MjQ4NzU0MS41Ni4xLjE2NzI0ODc1NDQuMC4wLjA.");
    max-width: 1200px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.mission {
    background-color: black;
    width: 1200px;
}
.featured {
    /* max-width: 1000px; */
    background-color: black;
    order:-1;
    margin: 0 auto;
    display: block;
}

.tea {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tea h5 {
    margin: 0px;
    order: 1;
}
.tea img {
    width: 300px;
    height: 200px;
    padding: 10px;
    order:1;
}


.location {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1213uau*_ga*MTUxMTAyNjI0Mi4xNjc2NjU3MzEz*_ga_3LRZM6TM9L*MTY3ODkwMTM5OS4yMS4xLjE2Nzg5MDE0MDYuNTMuMC4w");
    height: 500px;
    display: flex;
    justify-content: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
}

.title {
    display: block;
}

.address {
    background-color: black;
    width: 250px;
    margin: 15px 40px;
    opacity:1;
    height: 250px;
}

.contact {
    height: 200px;
    text-align: center;
}

footer {
    text-align: left;
    margin-left: 20px;
}